$mainAppBackgroundColor: #faf9f8;

$font1Color: #323130;
$font2Color: #605e5c;
$font3Color: #262626;

$headerBackgroundColor: white;


.page-layout {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    .page-header {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        height: 54px;
        background-color: $headerBackgroundColor;
        width: 100%;

        .menu-section-company-logo {
            height: 100%;
            width: 120px;
        }

        .menu-item {
            color: $font3Color;
            font-size: 13px;
            line-height: 13px;
            font-weight: 400;
            margin-top: 1px;
            padding: 16px 8px 10px;
            height: 48px;

        }
    }
    .page-body {
        background-color: $mainAppBackgroundColor;
        flex-grow: 1;

        .title {
            color: $font1Color;
            font-size: 32px;
            font-weight: 600;
            line-height: 1;
            margin: 0px;

            .subtitle {
                color: $font2Color;
                font-size: 14px;
                font-weight: 400;
                margin: 0;
            }
        }
    }
}